.git/
.vscode/
**/bin/
**/obj/
**/TestResults/
**/*.user
**/*.suo
**/*.cache
**/*.log
**/*.md
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.webp
**/*.svg
**/*.ico
**/*.pdf
**/*.zip
**/*.tar
**/*.gz
**/*.7z
**/*.tgz
**/*.nupkg
**/*.snupkg
**/node_modules/
**/dist/
**/build/
**/.angular/
**/.next/
**/.nuxt/
**/.cache/
**/.pytest_cache/
**/.mypy_cache/
**/.venv/
**/.env
**/.DS_Store
