<section class="page">
  <div class="page-header">
    <div>
      <h1>{{ isEdit ? 'Update Genre' : 'Add Genre' }}</h1>
      <p>Create or update genre information.</p>
    </div>

    <button
      mat-stroked-button
      color="primary"
      [routerLink]="['/genres']">
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>
  </div>

  <mat-card>
    <mat-card-content>

      <form [formGroup]="form" (ngSubmit)="submit()" class="form-grid">

      <!-- Name (full width) -->
      <mat-form-field appearance="outline" class="field full">
        <mat-label>Name</mat-label>
        <textarea matInput rows="4" formControlName="name" placeholder="Some Name"></textarea>
      </mat-form-field>

      <!-- Parent Genre (right side) -->
      <mat-form-field appearance="outline" class="field">
        <mat-label>Parent Genre</mat-label>
        <mat-select formControlName="parentGenreId">
          <mat-option [value]="null">None</mat-option>
          <mat-option
            *ngFor="let genre of genres"
            [value]="genre.id">
            {{ genre.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

        <!-- Actions -->
        <div class="form-actions">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="form.invalid || saving">

            <mat-icon>save</mat-icon>
            {{ isEdit ? 'Update' : 'Create' }}
          </button>
        </div>

      </form>

      <mat-progress-bar
        *ngIf="loading"
        mode="indeterminate">
      </mat-progress-bar>

      <mat-error *ngIf="errorMessage">
        {{ errorMessage }}
      </mat-error>

    </mat-card-content>
  </mat-card>
</section>