<section class="page">

  <div class="page-header">
    <h1>Game Details</h1>
  </div>

  <mat-card *ngIf="game">

    <mat-card-title>{{ game.name }}</mat-card-title>

    <mat-card-content>

      <p><strong>Key:</strong> {{ game.key }}</p>
      <p><strong>Description:</strong> {{ game.description || 'N/A' }}</p>
      <p><strong>Price:</strong> {{ game.price }}</p>
      <p><strong>Discount:</strong> {{ game.discount }}</p>
      <p><strong>Stock:</strong> {{ game.unitInStock }}</p>
        <div class="actions-bottom">

        <button
          mat-raised-button
          color="primary"
          (click)="downloadFile()"
          [disabled]="downloading">

          <mat-icon>download</mat-icon>
          Download Game File
        </button>

      </div>
    </mat-card-content>

  </mat-card>

  <mat-progress-spinner *ngIf="loading"></mat-progress-spinner>

</section>